.main-footer {

	.student-name {
		@include custom-font-size($txt-size-big);
		float: #{$misc-float-left};

		@include tablet {
			@include custom-margin(30px);
		}

		a {
			@include tablet {
				padding: 20px 10px;
			}
		}
	}

	.container {
		border-top: 1px solid $color-border-container;
	}

	.col {
		@extend %clearfix;
	}

	.footer-nav {
		@include display(none);

		@include tablet {
			@include custom-margin-bottom(0px);
			@include display(block);
			float: #{$misc-float-right};
		}

		a {
			@include display(block);
			@include custom-txt-align(center);
		}
	
		li {
			@include tablet {
				float: #{$misc-float-left};
				margin-left: 15px;
			}

			a {
				@include custom-margin-bottom(5px);
				@extend %txt-properties;

				@include tablet {
					padding: 20px 10px;
					background-color: $color-background;
				}
			}
		}
	}

	.back-top {
		@include custom-font-size($txt-size-big);
		float: #{$misc-float-right};
		text-transform: uppercase;

		@include tablet {
			@include display(none);	
		}
	}

}

