// Colors

$color-background: 			#f0f8ff;
$color-link-hover:			#008fd5;
$color-text:				#3a3a3a;
$color-border-container:	#e7e7e7;
$color-container:			#fff;
$color-toggle-btn: 			#888;

// Media Queries

$mq-medium-wide: 769px;
$mq-large-wide: 992px;

// Font Stack

$stack-default: 'Varela Round', sans-serif;

// Misc

$misc-float-left: 	'left';
$misc-float-right:	'right';

// Font sizes

$txt-size-small: 1rem;
$txt-size-medium: 1.2em;
$txt-size-big: 1.3em;